<div class="container">

  <hr />

  <div>
    <h4 class="text-info">Displaying Music data.</h4>
    <div> </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Artist Name</th>
          <th>Album Name</th>
          <th>Year Released</th>
          <th>Song Track #</th>
          <th>Song Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of musicData | paginate: { itemsPerPage: count, currentPage: p }">
          <td>{{e.aname}}</td>
          <td>{{e.name}}</td>
          <td>{{e.year_released}}</td>
          <td>{{e.track}}</td>
          <td>{{e.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
